<h3>Welcome to Panel Moderation 
<% if user_signed_in? %>
   <%=current_user.email%></h3>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  , please login</h3>
  <li>
  <%= link_to('Login', users_path)  %>  
  </li>
<% end %>
