<% if user_signed_in? %>
    <h3>Welcome to Panel Moderation <%=current_user.email%> <%=current_user.role%></h3>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% else %>
    <h3>Welcome to Panel Moderation, please login</h3>
    <%= link_to('Login', users_path)  %>  
<% end %>
